# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: MAIN CI

on:
  push:
    branches: ["main"]
  pull_request:
  workflow_call:

jobs:
  frontend-build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/frontend

    steps:
      - uses: actions/checkout@v6

      - name: Enable Corepack
        run: corepack enable

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: "yarn"

      - name: Install dependencies
        run: yarn install --immutable

      - name: Copy environment file
        run: cp .env.example .env

      - name: Build frontend
        run: yarn build

  backend-build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/backend
    steps:
      - uses: actions/checkout@v6

      - name: Enable Corepack
        run: corepack enable

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: "yarn"

      - name: Install dependencies
        run: yarn install --immutable

      - name: Copy environment file
        run: cp .env.example .env
      - name: Prisma generate
        run: yarn prisma generate
      - name: Build backend
        run: yarn build

  actions-timeline:
    needs: [frontend-build, backend-build]
    runs-on: ubuntu-latest
    permissions:
      actions: read
    steps:
      - uses: Kesin11/actions-timeline@v3
